h1 {
    color: #7d3af2;
    text-align: center;
    margin-top: 7%;
}

.buttons-div {
    margin-top: 5%;
    text-align: center;
}

.buttons-div button {
    margin-right: 3rem;
    cursor: pointer;
    background-color: #7d3af2;
    border-radius: 6px;
    border: none;
    font-size: 1rem;

    padding: 10px;
    transition: 0.3s;
}

.buttons-div button:last-child {
    margin-right: 0;
}

.buttons-div button:hover {
    a {
        color: #7d3af2;
    }
    background-color: white;
    color: #7d3af2;
    border: 2px #7d3af2 solid;
}

a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 380px) {
    .buttons-div {
        display: block;
    }
    .buttons-div button {
        margin: 0;
    }
}

@media screen and (max-width: 330px) {
    .buttons-div button {
        margin-top: 1rem;
    }
}
